################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Viper/.vs/Viper/FileContentIndex/81390317-6ea8-4ced-9481-df3b8803fc81.vsidx
